export AWS_REGION="ap-southeast-1"
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
export APP_CONFIG_APP_IDENTIFIER=""
export APP_CONFIG_CONFIG_PROFILE_IDENTIFIER=""
export APP_CONFIG_ENVIRONMENT_IDENTIFIER=""